<a href="https://colab.research.google.com/github/abuwildanm/Information-Retrieval/blob/master/Projek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projek Akhir
# Information Retrieval with Vector Space Model

---

## Nama Anggota Kelompok


1.   Abu Wildan Mucholladin
2.   Lukman Hakim W.
3.   Panji Gemilang

## Skenario 1 - Tanpa Stemming Dengan Stopword

In [0]:
# Import Library Standard
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
# Import Library Sklearn
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.naive_bayes import MultinomialNB

# Import Library Sklearn (Evaluasi Tak Berperingkat)
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score


# Import Library Sklearn (Evaluasi Berperingkat)
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score

In [197]:
# Read Dataset
data = pd.read_excel('dataKumparan1.xlsx')
# data = pd.read_csv('dataKumparan2.csv')
data.head()

,Topic,Title,Content
0,Politik,"Pelanggaran Pemilu, Tiga Caleg di Sulteng Dipr...","Komisioner Bawaslu Sigi, Sulawesi Tengah, Agus..."
1,Politik,"Pemilu Susulan di Kota Jayapura, Suara Jokowi ...",Walaupun dua dari lima distrik melakukan pemil...
2,Politik,"Tsamara Amany Dipinang, Pengurus PSI Daerah Me...","Tsamara Amany, politisi Partai Solidaritas Ind..."
3,Politik,Ada 47 TPS di Sulawesi Utara Berpotensi Pemili...,Badan Pengawas Pemilu (Bawaslu) Provinsi Sulaw...
4,Politik,Ketua KPPS di Sleman Ditemukan Tewas Gantung D...,"Tugiman, Ketua Kelompok Penyelenggara Pemungut..."

In [0]:
# Label Mapping
# data['Topic'] = data['Topic'].map({'Politik':0, 'Teknologi':1, 'Travel':2})
# data.head()

In [199]:
# Ukuran Dataset
print('Ukuran dataset:', data.shape)

Ukuran dataset: (60, 3)

In [0]:
# Pembagian data training & testing
x_train, x_test, y_train, y_test = train_test_split(data['Content'], data['Topic'], train_size=0.5, test_size=0.16)

In [0]:
train_data = pd.DataFrame({'teks':x_train, 'label':y_train})
test_data = pd.DataFrame({'teks':x_test, 'label':y_test})

In [202]:
train_data.head()

                                                 teks      label
11  Proses rekapitulasi surat suara melalui Sistem...    Politik
14  KPU memberikan klarifikasi mengenai banyaknya ...    Politik
40  Wahana hiburan Trampolin hadir pertama kali di...     Travel
36  Platform media sosial populer Instagram kembal...  Teknologi
20  Facebook sedang mengembangkan asisten suara un...  Teknologi

In [203]:
test_data.head()

                                                 teks      label
46  Kebakaran terjadi di terminal keberangkatan do...     Travel
27  Pesta demokrasi terbesar di Indonesia resmi di...  Teknologi
32  Super hype! Penayangan perdana film 'Avengers:...  Teknologi
51  Tahun 2018 lalu, keluarga besar Kim Kardashian...     Travel
34  Persaingan aplikasi pesan instan kian sengit s...  Teknologi

In [204]:
# Ukuran Data Training & Testing
print('Ukuran data train:', train_data.shape)
print('Ukuran data test:', test_data.shape)
n_train = train_data.shape[0]
n_test = test_data.shape[0]

Ukuran data train: (30, 2)
Ukuran data test: (10, 2)

In [205]:
sparse_data = pd.concat([train_data, test_data], ignore_index=True)
sparse_data.head()

                                                teks      label
0  Proses rekapitulasi surat suara melalui Sistem...    Politik
1  KPU memberikan klarifikasi mengenai banyaknya ...    Politik
2  Wahana hiburan Trampolin hadir pertama kali di...     Travel
3  Platform media sosial populer Instagram kembal...  Teknologi
4  Facebook sedang mengembangkan asisten suara un...  Teknologi

In [206]:
# Ukuran Sparse Data
print('Ukuran sparse data:', sparse_data.shape)
n_document = sparse_data.shape[0]

Ukuran sparse data: (40, 2)

### Preprocessing

In [0]:
# Normalisasi
def normalisasi(kolom):
    normal = (kolom-kolom.min())/(kolom.max()-kolom.min())
    return normal

### Perhitungan Bobot

In [208]:
vectorizer = CountVectorizer()
tf = vectorizer.fit_transform(sparse_data['teks'])
print('Jumlah dokumen:', tf.shape[0])
print('Jumlah term:', tf.shape[1])

Jumlah dokumen: 40
Jumlah term: 2846

In [209]:
print('Daftar Term:')
vectorizer.get_feature_names()

Daftar Term:

['00',
 '000',
 '0004',
 '01',
 '02',
 '03',
 '030',
 '039',
 '04',
 '043',
 '052',
 '056',
 '09',
 '10',
 '100',
 '105',
 '11',
 '113',
 '12',
 '128',
 '13',
 '138',
 '14',
 '144',
 '15',
 '16',
 '17',
 '1723',
 '18',
 '180',
 '19',
 '191',
 '195',
 '1958',
 '1997',
 '20',
 '200',
 '2004',
 '2007',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2022',
 '2024',
 '207',
 '21',
 '210',
 '212',
 '218',
 '22',
 '23',
 '233',
 '237',
 '24',
 '240',
 '241',
 '246',
 '247',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '300',
 '31',
 '34',
 '35',
 '350',
 '36',
 '360',
 '366',
 '37',
 '38',
 '40',
 '400',
 '414',
 '43',
 '44',
 '46',
 '47',
 '48',
 '49',
 '50',
 '500',
 '51',
 '52',
 '53',
 '55',
 '550',
 '56',
 '562',
 '564',
 '579',
 '58',
 '585',
 '60',
 '600',
 '62',
 '63',
 '64',
 '640',
 '650',
 '6703',
 '68',
 '6s',
 '70',
 '700',
 '765',
 '77',
 '78',
 '79',
 '80',
 '800',
 '800an',
 '810',
 '813',
 '82',
 '835',
 '84',
 '870',
 '883',
 '893',
 '90',
 '94',
 '95',
 'abad',
 'abdul',
 'abepura',
 'abu',
 'acara',
 'ada',
 'adakah',
 'adalah',
 'adanya',
 'adapun',
 'adik',
 'adipura',
 'adriani',
 'adu',
 'agar',
 'agung',
 'agus',
 'agustus',
 'ahli',
 'air',
 'airasia',
 'airlines',
 'airways',
 'aja',
 'akan',
 'akbar',
 'akhir',
 'akhirnya',
 'akibat',
 'akomodasi',
 'akses',
 'aksesnya',
 'aktif',
 'aktivitas',
 'akun',
 'aladid',
 'alam',
 'alasan',
 'alasannya',
 'alat',
 'alexa',
 'alhasil',
 'alias',
 'alibaba',
 'all',
 'allah',
 'allisa',
 'aluminium',
 'am',
 'aman',
 'amanah',
 'amazon',
 'ambil',
 'amenitas',
 'america',
 'amerika',
 'amien',
 'amin',
 'ampolin',
 'anak',
 'anaknya',
 'analisis',
 'anantia',
 'and',
 'anda',
 'andalan',
 'andy',
 'aneh',
 'anggap',
 'anggaran',
 'anggota',
 'angka',
 'angkanya',
 'angkasa',
 'antar',
 'antara',
 'antaranya',
 'antarmuka',
 'antisipasi',
 'antre',
 'antrean',
 'antusias',
 'anyar',
 'apa',
 'apapun',
 'aparat',
 'api',
 'aplikasi',
 'aplikasinya',
 'apple',
 'apreasi',
 'apresiasi',
 'april',
 'ar',
 'arab',
 'arah',
 'arahan',
 'area',
 'arena',
 'argapura',
 'arief',
 'artinya',
 'arya',
 'asal',
 'asdep',
 'asep',
 'aset',
 'asia',
 'asingnya',
 'asisten',
 'aspek',
 'assistant',
 'associated',
 'atar',
 'atas',
 'atasnya',
 'atau',
 'ataupun',
 'atk',
 'atm',
 'atta',
 'australia',
 'avengers',
 'aviation',
 'avsec',
 'awak',
 'awal',
 'awalnya',
 'awaluddin',
 'ayojagatps',
 'ayun',
 'azis',
 'aziz',
 'badai',
 'badan',
 'bagaimana',
 'bagaimanapun',
 'bagi',
 'bagian',
 'bagikan',
 'bagus',
 'bahan',
 'baharuddin',
 'bahasa',
 'bahkan',
 'bahwa',
 'baik',
 'baja',
 'baju',
 'bak',
 'bakal',
 'bali',
 'balik',
 'balutan',
 'bandara',
 'bandingkan',
 'banget',
 'bangga',
 'bangsa',
 'bangun',
 'bangunan',
 'banjarhits',
 'banjarmasin',
 'banjir',
 'bantu',
 'banyak',
 'banyaknya',
 'barang',
 'barat',
 'baru',
 'basiruddin',
 'basirudin',
 'basket',
 'baterai',
 'batu',
 'bawah',
 'bawaslu',
 'bbm',
 'beach4teach',
 'bebas',
 'beberapa',
 'beda',
 'bedanya',
 'begitu',
 'behavior',
 'bekerja',
 'belah',
 'belajar',
 'belakang',
 'belakangan',
 'belanda',
 'belanja',
 'beliau',
 'belum',
 'benar',
 'bencana',
 'bendungan',
 'bentuk',
 'berada',
 'beradaptasi',
 'beragam',
 'beranggotakan',
 'berangkat',
 'berani',
 'berapa',
 'berarti',
 'berasal',
 'berat',
 'berbagai',
 'berbagi',
 'berbasis',
 'berbeda',
 'berbentuk',
 'berbondong',
 'bercerita',
 'berdampak',
 'berdasarkan',
 'berdiri',
 'berencana',
 'beres',
 'beresolusi',
 'berfokus',
 'berfungsi',
 'berganti',
 'bergerak',
 'bergulir',
 'berguna',
 'berhak',
 'berharap',
 'berhasil',
 'berhentinya',
 'berhubungan',
 'beri',
 'berikan',
 'berikhtiar',
 'berikut',
 'berikutnya',
 'berinteraksi',
 'berisi',
 'berita',
 'berjalan',
 'berjarak',
 'berjenjang',
 'berjualan',
 'berkaitan',
 'berkapasitas',
 'berkata',
 'berkejujuran',
 'berkelana',
 'berkembang',
 'berkendara',
 'berkesan',
 'berkibar',
 'berkompetisi',
 'berkomunikasi',
 'berkontribusi',
 'berkukuh',
 'berkunjung',
 'berlaku',
 'berlangsung',
 'berlangsungnya',
 'berlanjut',
 'berlari',
 'berlebihan',
 'berlibur',
 'berlinang',
 'berlokasi',
 'berlomba',
 'berlutut',
 'bermain',
 'berminat',
 'bermunculan',
 'bernama',
 'bernoda',
 'beroperasi',
 'berpacu',
 'berpandangan',
 'berpartisipasi',
 'berpegang',
 'berpendapat',
 'berpersen',
 'berpose',
 'berpotensi',
 'bersama',
 'bersamaan',
 'bersantai',
 'bersejarah',
 'bersiap',
 'bersifat',
 'bersikap',
 'bersunguh',
 'bertahan',
 'bertambah',
 'bertaraf',
 'bertarung',
 'bertema',
 'bertemakan',
 'bertemu',
 'bertemunya',
 'bertepatan',
 'berteriak',
 'bertindak',
 'bertinta',
 'bertintanya',
 'bertugas',
 'berubah',
 'berukuran',
 'berulang',
 'berusaha',
 'berusia',
 'berwarna',
 'berwenang',
 'berziarah',
 'besar',
 'best',
 'betapa',
 'biar',
 'biasa',
 'biasanya',
 'bicara',
 'bidang',
 'biji',
 'bijian',
 'bikin',
 'bila',
 'bilang',
 'binamu',
 'bintan',
 'biro',
 'bisa',
 'bisnis',
 'bisnisnya',
 'blackberry',
 'blackwood',
 'blue',
 'boarding',
 'bodi',
 'boga',
 'bohong',
 'boleh',
 'bondong',
 'bonjol',
 'booking',
 'boy',
 'bpn',
 'brand',
 'breathless',
 'brisbane',
 'buana',
 'buang',
 'buat',
 'buatan',
 'buatannya',
 'budaya',
 'buka',
 'bukan',
 'bukanlah',
 'bukit',
 'bukti',
 'buku',
 'bulan',
 'bule',
 'bumi',
 'bumipapua',
 'bungkus',
 'bunuh',
 'busa',
 'business',
 'byme',
 'c1',
 'cafe',
 'cagar',
 'cahyo',
 'caleg',
 'calender',
 'call',
 'calon',
 'camping',
 'cangkir',
 'canopi',
 'capres',
 'captain',
 'cara',
 'carai',
 'caranya',
 'case',
 'cat',
 'category',
 'cawapres',
 'cek',
 'cemilan',
 'center',
 'ceo',
 'cepat',
 'cerdas',
 'cermat',
 'cervantes',
 'charging',
 'chat',
 'chatting',
 'cheapcaribbean',
 'cheapcarribean',
 'check',
 'china',
 'chipset',
 'cincin',
 'cinta',
 'ciri',
 'climbing',
 'cloud',
 'club',
 'cn',
 'cnbc',
 'coast',
 'coat',
 'coattail',
 'coba',
 'cocok',
 'coe',
 'com',
 'commerce',
 'communication',
 'content',
 'coral',
 'corporate',
 'count',
 'credit',
 'cruise',
 'cukup',
 'cuma',
 'cupffee',
 'curang',
 'cynthia',
 'daerah',
 'daftar',
 'dagang',
 'dahulu',
 'dalam',
 'damai',
 'dampaknya',
 'dan',
 'dang',
 'dapat',
 'dapur',
 'darah',
 'daratan',
 'daratannya',
 'dari',
 'daring',
 'daringnya',
 'daripada',
 'dark',
 'dasar',
 'data',
 'datang',
 'datanya',
 'datar',
 'datarannya',
 'daur',
 'daya',
 'de',
 'ded',
 'dekat',
 'dekoratif',
 'delta',
 'demi',
 'demikian',
 'demokrasi',
 'dengan',
 'denyut',
 'depan',
 'depannya',
 'deputi',
 'deras',
 'desa',
 'desain',
 'desainnya',
 'desember',
 'design',
 'desk',
 'dessy',
 'destinasi',
 'detail',
 'develop',
 'dewan',
 'dewata',
 'dewi',
 'dhabi',
 'di',
 'dia',
 'diadakan',
 'diakses',
 'dialokasikan',
 'diambil',
 'diandalkan',
 'dianggap',
 'dianiaya',
 'diartikan',
 'diawasi',
 'dibagikan',
 'dibahas',
 'dibandingan',
 'dibandingkan',
 'dibangun',
 'dibatasi',
 'dibawa',
 'dibayar',
 'dibekali',
 'dibenamkan',
 'dibenarkan',
 'diberi',
 'diberikan',
 'diberitakan',
 'dibikin',
 'dibilang',
 'dibuang',
 'dibuat',
 'dibuka',
 'dibukanya',
 'dicatat',
 'dicky',
 'dicoblos',
 'didapat',
 'didasari',
 'didedikasikan',
 'didirikan',
 'didorong',
 'diduga',
 'diganti',
 'digarap',
 'digelar',
 'digiring',
 'digital',
 'digitalnya',
 'digunakan',
 'dihakimi',
 'diharapkan',
 'dihidangkan',
 'dihubungi',
 'diimbau',
 'diinginkan',
 'diinstruksikan',
 'diinterogasi',
 'diisi',
 'dijadikan',
 'dijadwalkan',
 'dijual',
 'dikabarkan',
 'dikaji',
 'dikasih',
 'dikebumikan',
 'dikeluarkan',
 'dikembangkan',
 'dikenal',
 'dikerjakan',
 'diketahui',
 'dikirim',
 'diklik',
 'dikunjungi',
 'dikunyah',
 'dikutip',
 'dilahap',
 'dilaksanakan',
 'dilakukan',
 'dilalui',
 'dilansir',
 'dilapisi',
 'dilaporkan',
 'dilegalkan',
 'dilempar',
 'dilengkapi',
 'dilewati',
 'dilihatnya',
 'diliput',
 'diluncurkan',
 'dimakan',
 'dimanfaatkan',
 'dimasukkan',
 'dimiliki',
 'diminati',
 'diminta',
 'dimulai',
 'din',
 'dinaikkan',
 'dinanti',
 'dinas',
 'dinding',
 'dinobatkan',
 'dinonaktifkan',
 'dipahami',
 'dipergunakan',
 'diperingati',
 'diperkenalkan',
 'diperkenankan',
 'diperkirakan',
 'diperoleh',
 'dipertemukan',
 'dipikirkan',
 'dipilih',
 'dipromosikan',
 'dipugar',
 'diramaikan',
 'dirasa',
 'dirasakan',
 'dirawat',
 'direct',
 'direkam',
 'direncanakan',
 'diri',
 'dirilis',
 'dirusak',
 'disajikan',
 'disalibkan',
 'disamakan',
 'disampaikan',
 'disarankan',
 'disasar',
 'disbudpar',
 'disebabkan',
 'disediakan',
 'diselesaikan',
 'disematkan',
 'diseret',
 'disertai',
 'disiapkan',
 'disiksa',
 'disimpan',
 'disitu',
 'distrik',
 'disusul',
 'ditabayunkan',
 'ditahan',
 'ditambah',
 'ditampilkan',
 'ditandai',
 'ditandatangani',
 'ditanya',
 'ditarget',
 'ditarik',
 'ditawarkan',
 'ditayangkan',
 'ditempatkan',
 'ditempel',
 'ditemui',
 'ditemukan',
 'ditentukan',
 'diterbitkan',
 'diterima',
 'ditetapkan',
 'ditinjau',
 'dituduhkan',
 'ditujukan',
 'diturunkan',
 'ditutup',
 'ditutupi',
 'ditutupnya',
 'diunggahnya',
 'diverifikasi',
 'diyakini',
 'djoko',
 'dki',
 'do',
 'doa',
 'domestik',
 'dominan',
 'doodle',
 'dorong',
 'douglas',
 'dowload',
 'down',
 'dpd',
 'dpr',
 'dpt',
 'dpthp',
 'dr',
 'dua',
 'duduk',
 'dugaan',
 'duka',
 'dukungan',
 'dulu',
 'dulunya',
 'dunia',
 'duo',
 'edisi',
 'editing',
 'efek',
 'effect',
 'effendi',
 'eiffel',
 'ekonomi',
 'ekor',
 'elektoral',
 'elitenya',
 'email',
 'emirates',
 'emoji',
 'emosional',
 'empat',
 'empoang',
 'enam',
 'endgame',
 'enembe',
 'enggak',
 'engineer',
 'enginering',
 'entah',
 'entri',
 'episode',
 'era',
 'eropa',
 'esok',
 'etihad',
 'event',
 'ey484',
 'f11',
 'facebook',
 'fakta',
 'faktor',
 'falahuddin',
 'fanboy',
 'fans',
 'farasya',
 'fasilitas',
 'fast',
 'favorit',
 'fear',
 'feed',
 'felicia',
 'figure',
 'film',
 'filter',
 'fisik',
 'fisiknya',
 'fitur',
 'flightstatus',
 'fokus',
 'fokusnya',
 'follower',
 'followers',
 'fomo',
 'for',
 'foreign',
 'forensik',
 'form',
 'format',
 'forum',
 'foto',
 'fotografer',
 'fotokopi',
 'fotokopinya',
 'four',
 'freemantle',
 'gajah',
 'gak',
 'galeri',
 'gambar',
 'ganda',
 'gandum',
 'gantiang',
 'gantung',
 'garda',
 'gastronomi',
 'gastronominya',
 'gb',
 'gelap',
 'gelombang',
 'generasi',
 'genpi',
 'geografis',
 'gerakan',
 'gerindra',
 'gestur',
 'gg',
 'ghofar',
 'gianyar',
 'gif',
 'gigi',
 'gimana',
 'gitu',
 'glamour',
 'global',
 'globaldi',
 'golgota',
 'google',
 'gor',
 'gradasi',
 'gratis',
 'gres',
 'group',
 'grup',
 'gubernur',
 'gudang',
 'gugur',
 'gulden',
 'guna',
 'guru',
 'gusti',
 'gym',
 'habib',
 'hadapan',
 'hadir',
 'hadirnya',
 'hak',
 'hakim',
 'hal',
 'halaman',
 'halilintar',
 'halnya',
 'hampir',
 'handayani',
 'handphone',
 'hangat',
 'hanya',
 'harapan',
 'harga',
 'hari',
 'harinya',
 'harus',
 'hasil',
 'hasilnya',
 'headset',
 'helena',
 'helio',
 'help',
 'hemat',
 'heram',
 'heran',
 'hiburan',
 'hidup',
 'hilal',
 'hills',
 'hingga',
 'hitam',
 'hitung',
 'hoaks',
 'hormati',
 'hormatilah',
 'hp',
 'hujan',
 'hukum',
 'humas',
 'hype',
 'ia',
 'icon',
 'id',
 'identifikasi',
 'ihwal',
 'ikat',
 'ikon',
 'ikonik',
 'ikut',
 'ilmu',
 'imam',
 'imbuh',
 'imbuhnya',
 'in',
 'inci',
 'indah',
 'independen',
 'index',
 'india',
 'indikasi',
 'indonesia',
 'influencer',
 'informasi',
 'informasinya',
 'informatika',
 'infrastruktur',
 'inggris',
 ...]

In [210]:
print('Daftar Stopword:')
vectorizer.get_stop_words()

Daftar Stopword:

In [211]:
print('Matriks Tf:')
tf_matrix = pd.DataFrame(tf.toarray(), columns=vectorizer.get_feature_names())
tf_matrix

Matriks Tf:

,00,000,0004,01,02,03,030,039,04,043,...,yakin,yakni,yang,yasar,yerusalem,yesus,yogyakarta,yusuf,zahidi,zoetry
0,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,10,0,0,0,0,0,0,0
2,2,1,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,12,0,0,0,0,0,0,0
14,3,0,0,0,1,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
16,1,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,1,5,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
20,0,0,0,1,2,0,0,1,0,2,...,0,0,3,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,1,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,7,2,0,0,0,0,1,0
25,0,0,0,0,1,1,0,0,0,0,...,1,0,5,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,12,0,1,5,0,0,0,0
27,0,0,0,1,1,0,0,0,0,0,...,0,0,8,0,0,0,1,1,0,0
28,0,1,0,0,0,0,0,0,0,0,...,0,0,11,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,1,14,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,1,0,...,0,0,2,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
32,0,1,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,1,10,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,1,4,0,0,0,0,0,0,1
38,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
39,1,0,0,1,1,0,0,0,0,0,...,0,1,15,0,0,0,0,0,0,0

In [212]:
print('Matriks Tf (khusus data train):')
tf_train = tf_matrix[:n_train]
tf_train.shape

Matriks Tf (khusus data train):

(30, 2846)

In [213]:
transformer = TfidfTransformer(sublinear_tf=True)

# Penyesuaian df agar query (data test) tidak dihitung pada perhitungan df
n = n_train
df = tf_train.astype(bool).sum(axis=0)
idf = np.log(n/df)
transformer.idf_ = idf

weight = transformer.fit_transform(tf)
print('Jumlah dokumen:', weight.shape[0])
print('Jumlah term:', weight.shape[1])

Jumlah dokumen: 40
Jumlah term: 2846

In [214]:
weight_matrix = pd.DataFrame(weight.toarray(), columns=vectorizer.get_feature_names())
weight_matrix

,00,000,0004,01,02,03,030,039,04,043,...,yakin,yakni,yang,yasar,yerusalem,yesus,yogyakarta,yusuf,zahidi,zoetry
0,0.079754,0.000000,0.000000,0.000000,0.000000,0.000000,0.109742,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.027296,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.068754,0.000000,0.062813,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.094233,0.063379,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.045455,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.061221,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.061070,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.053167,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
6,0.000000,0.000000,0.070514,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.051669,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.065441,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.081939,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.062080,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.049668,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.057020,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.047091,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.067637,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
14,0.090473,0.000000,0.000000,0.000000,0.043111,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.043466,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.050971,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
16,0.066595,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.038591,0.00000,0.000000,0.000000,0.082394,0.00000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.075827,0.067720,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.057239,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.045001,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.054096,0.080430,0.000000,0.000000,0.065365,0.000000,0.110672,...,0.000000,0.000000,0.034120,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.059282,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.045773,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.042263,0.00000,0.000000,0.000000,0.000000,0.00000,0.064024,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.056208,0.12988,0.000000,0.000000,0.000000,0.00000,0.068973,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.061005,0.083943,0.000000,0.000000,0.000000,0.000000,...,0.075477,0.000000,0.054483,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.053908,0.00000,0.062192,0.162287,0.000000,0.00000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.057328,0.050342,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.053057,0.00000,0.000000,0.000000,0.062284,0.06927,0.000000,0.000000
28,0.000000,0.046936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.047932,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.045792,0.057032,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.086973,0.000000,...,0.000000,0.000000,0.036628,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.048479,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
32,0.000000,0.053939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.042302,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.052196,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.046012,0.052009,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.064335,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.055244,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.056649,0.046266,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.077949
38,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.056504,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
39,0.042494,0.000000,0.000000,0.048391,0.042494,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.042494,0.053929,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000

In [0]:
# Pembagian matriks bobot
weight_train = weight_matrix[:n_train]
weight_test = weight_matrix[n_train:]

### Perhitungan Cosine Similarity

In [216]:
# Perhitungan cosine similarity
cosim = cosine_similarity(weight_train, weight_test)
print('Ukuran matriks cosine similarity: ', cosim.shape)

Ukuran matriks cosine similarity:  (30, 10)

In [0]:
name = []
for i in range(n_test):
  name.append('Dokumen ' + str(i))

In [218]:
# Baris = dokumen train, Kolom = dokumen test
print('Matriks Cosine Similarity:')
cosim_matrix = pd.DataFrame(cosim, columns=name)
cosim_matrix.shape

Matriks Cosine Similarity:

(30, 10)

In [219]:
# Cosim Matrix + Label
cosim_matrix['Label Train'] = train_data['label'].values
label_row = dict(zip(name, test_data['label'].values))
label_cosim = cosim_matrix.append(label_row, ignore_index=True)
label_cosim.rename({label_cosim.index[-1]:'Label Test'}, inplace=True)

label_test = pd.DataFrame(label_cosim.iloc[-1])
label_test = label_test.T
label_test

,Dokumen 0,Dokumen 1,Dokumen 2,Dokumen 3,Dokumen 4,Dokumen 5,Dokumen 6,Dokumen 7,Dokumen 8,Dokumen 9,Label Train
Label Test,Travel,Teknologi,Teknologi,Travel,Teknologi,Teknologi,Teknologi,Travel,Travel,Politik,NaN

In [220]:
label_cosim

,Dokumen 0,Dokumen 1,Dokumen 2,Dokumen 3,Dokumen 4,Dokumen 5,Dokumen 6,Dokumen 7,Dokumen 8,Dokumen 9,Label Train
0,0.060333,0.0587731,0.0357352,0.0163403,0.0301022,0.1119,0.0285365,0.0414633,0.0256061,0.183979,Politik
1,0.0508329,0.0714747,0.0623119,0.0488363,0.118312,0.205476,0.0442946,0.0667203,0.0592457,0.22206,Politik
2,0.0554953,0.0439495,0.0558092,0.0924995,0.0757338,0.0862351,0.066267,0.0569801,0.079493,0.0888213,Travel
3,0.0434198,0.121078,0.0711599,0.0676417,0.115407,0.0839828,0.201212,0.0773801,0.0581688,0.0949995,Teknologi
4,0.0399511,0.0376354,0.0554119,0.0358256,0.0914832,0.0571229,0.107953,0.0368536,0.0193818,0.061458,Teknologi
5,0.051961,0.0473945,0.0374648,0.0630772,0.0815674,0.0971048,0.0617891,0.0668014,0.0444808,0.113751,Travel
6,0.0682685,0.0852555,0.0700506,0.0562945,0.0905581,0.176384,0.0432073,0.0861873,0.0639798,0.201134,Politik
7,0.0541093,0.0815622,0.0688423,0.0534268,0.0986793,0.166992,0.0453508,0.0630073,0.0440085,0.144188,Politik
8,0.0436356,0.181536,0.0703125,0.0482076,0.0907155,0.126085,0.084836,0.0854838,0.103945,0.0958562,Teknologi
9,0.0515874,0.0442909,0.0346417,0.0543795,0.0514032,0.119472,0.0420074,0.0438551,0.0479121,0.110039,Politik
10,0.0479231,0.0679675,0.0474053,0.104811,0.103434,0.0664333,0.0504105,0.0918887,0.0721584,0.106427,Travel
11,0.0383285,0.0490365,0.0418072,0.0432926,0.0879805,0.0776566,0.0339471,0.0467402,0.0267615,0.108803,Politik
12,0.468857,0.0457433,0.0325964,0.0534389,0.0538141,0.0582948,0.0502273,0.0960075,0.0512882,0.0770845,Travel
13,0.0613135,0.0619005,0.0491639,0.0973738,0.109161,0.0614206,0.0682298,0.111768,0.0904388,0.10088,Travel
14,0.0796065,0.0841449,0.075485,0.0542335,0.079231,0.103883,0.0790302,0.0663877,0.0692943,0.120646,Politik
15,0.0531816,0.0476166,0.0453057,0.0583812,0.113537,0.062779,0.0524303,0.0713352,0.0410233,0.0835853,Teknologi
16,0.0663873,0.0289005,0.0392461,0.0640699,0.0505685,0.0714034,0.0326985,0.0413855,0.052001,0.0939115,Politik
17,0.0682497,0.0726958,0.0508716,0.0427519,0.0560225,0.146422,0.03601,0.063258,0.0463078,0.12534,Politik
18,0.0394436,0.0515883,0.08854,0.0652527,0.133208,0.0654628,0.0959468,0.0596682,0.0429667,0.0730523,Teknologi
19,0.0418846,0.0933445,0.0474292,0.0486487,0.0772047,0.140835,0.0456912,0.0696011,0.0274033,0.104086,Politik
20,0.0533577,0.0657388,0.0398264,0.0344781,0.0486628,0.108298,0.0460904,0.0504893,0.0415327,0.154195,Politik
21,0.0696069,0.0469949,0.0529634,0.0597453,0.0725828,0.0436864,0.046482,0.128554,0.0501307,0.0782457,Travel
22,0.041444,0.0586833,0.0799737,0.0838458,0.115212,0.0771422,0.156347,0.0441689,0.0342043,0.0845102,Teknologi
23,0.0317694,0.0485391,0.0413606,0.0540995,0.0504412,0.0648378,0.033279,0.040149,0.0472836,0.0676823,Travel
24,0.0533287,0.0367504,0.0354293,0.0442627,0.0629619,0.128702,0.0385441,0.0433502,0.0460749,0.122007,Politik
25,0.0575726,0.0288776,0.0323794,0.0421921,0.0441049,0.0762519,0.0337192,0.0798057,0.0415845,0.132757,Politik
26,0.04938,0.06234,0.0477162,0.106402,0.100434,0.0663202,0.0664262,0.0679185,0.0577323,0.0930395,Travel
27,0.0523392,0.0549477,0.0474813,0.0778022,0.0870651,0.117988,0.0409389,0.0693734,0.0532298,0.188623,Politik
28,0.048664,0.0692609,0.0593157,0.0491739,0.103611,0.0565673,0.0542255,0.0859842,0.0515967,0.0765558,Teknologi
29,0.0539721,0.0629202,0.0592309,0.110331,0.0830917,0.055522,0.0402493,0.0915901,0.0584797,0.101197,Travel
Label Test,Travel,Teknologi,Teknologi,Travel,Teknologi,Teknologi,Teknologi,Travel,Travel,Politik,NaN

### Evaluasi

In [0]:
def average_precision(cosim_matrix, n_retrieve):
  average_precision = []
  
  # Loop untuk mengambil setiap query di cosim matrix
  for column in cosim_matrix.iloc[:, :-1]:
    
    # Sort and get top n
    sorted_cosim = cosim_matrix.sort_values(column, ascending=False)
    top_n = sorted_cosim.iloc[:n_retrieve]
#     print(top_n)
    
    # List of relevance
    relevant = (np.array(top_n['Label Train']) == np.array(label_test[column]))
#     print(relevant)
    
    # List of precision
    precision = []
    peringkat = 0
    counter_relevant = 0
    
    for r in relevant:
      peringkat += 1
      if r == True:
        counter_relevant += 1
        precision.append(counter_relevant / peringkat)
      
    # List of average precision
    average_precision.append(np.mean(precision))
  
  return average_precision
    
def mean_average_precision(cosim_matrix, n_retrieve):
  ap = average_precision(cosim_matrix, n_retrieve)
  map = np.mean(ap)
  return map

def precision_at_k(cosim_matrix, k_retrieve):
  precision_at_k = []
  
  # Loop untuk mengambil setiap query di cosim matrix
  for column in cosim_matrix.iloc[:, :-1]:
    
    # Sort and get top n
    sorted_cosim = cosim_matrix.sort_values(column, ascending=False)
    top_n = sorted_cosim.iloc[:k_retrieve]
#     print(top_n)
    
    # List of relevance
    relevant = (np.array(top_n['Label Train']) == np.array(label_test[column]))
#     print(relevant)
    
    # List of precision
    precision = np.sum(relevant) / len(relevant)
    precision_at_k.append(precision)
      
  return precision_at_k

def r_precision(cosim_matrix, n_retrieve):
  r_precision = []
  
  # Loop untuk mengambil setiap query di cosim matrix
  for column in cosim_matrix.iloc[:, :-1]:
    
    # Sort and get top n
    sorted_cosim = cosim_matrix.sort_values(column, ascending=False)
    top_n = sorted_cosim.iloc[:n_retrieve]
#     print(top_n)
    
    # List of relevance
    relevant = (np.array(top_n['Label Train']) == np.array(label_test[column]))
#     print(relevant)
    
    # List of precision
    precision = np.sum(relevant) / len(relevant)
    r_precision.append(precision)
      
  return r_precision

In [222]:
print('Hasil Evaluasi MAP: ', mean_average_precision(cosim_matrix, 10))
print('Hasil Evaluasi Precision@K: ', precision_at_k(cosim_matrix, 10))
print('Hasil Evaluasi R-Precision: ', r_precision(cosim_matrix, 10))

Hasil Evaluasi MAP:  0.7735079365079365
Hasil Evaluasi Precision@K:  [0.4, 0.3, 0.5, 0.5, 0.5, 0.1, 0.5, 0.5, 0.5, 1.0]
Hasil Evaluasi R-Precision:  [0.4, 0.3, 0.5, 0.5, 0.5, 0.1, 0.5, 0.5, 0.5, 1.0]

## Skenario 2 - Tanpa Stemming Tanpa Stopword

In [223]:
# Read Dataset
data = pd.read_csv('Dataset/data_sms_spam.csv')
data.head()

FileNotFoundError: ignored

In [0]:
# Ukuran Dataset
print('Ukuran dataset:', data.shape)

In [0]:
# Pembagian data training & testing
x_train, x_test, y_train, y_test = train_test_split(data['teks'], data['label'], test_size=0.4)

In [0]:
train_data = pd.DataFrame({'teks':x_train, 'label':y_train})
test_data = pd.DataFrame({'teks':x_test, 'label':y_test})
query = ['Anda mendapatkan hadiah mobil','nanti ketemu dimana?']
query = pd.DataFrame({'teks':query})

train_data.head()

In [0]:
test_data.head()

In [0]:
query

In [0]:
# Ukuran Data Training & Testing
print('Ukuran data train:', train_data.shape)
print('Ukuran data test:', test_data.shape)
n_train = train_data.shape[0]
n_test = test_data.shape[0]

In [0]:
sparse_data = pd.concat([train_data, test_data], ignore_index=True)
sparse_data.head()

In [0]:
# Ukuran Sparse Data
print('Ukuran sparse data:', sparse_data.shape)
n_document = sparse_data.shape[0]

### Perhitungan Bobot

In [0]:
vectorizer = CountVectorizer()
tf = vectorizer.fit_transform(sparse_data['teks'])
print('Jumlah dokumen:', tf.shape[0])
print('Jumlah term:', tf.shape[1])

In [0]:
print('Daftar Term:')
vectorizer.get_feature_names()

In [0]:
print('Matriks Tf:')
tf_matrix = pd.DataFrame(tf.toarray(), columns=vectorizer.get_feature_names())
tf_matrix

In [0]:
print('Matriks Tf (khusus data train):')
tf_train = tf_matrix[:n_train]
tf_train.shape

In [0]:
transformer = TfidfTransformer(sublinear_tf=True)

# Penyesuaian df agar query (data test) tidak dihitung pada perhitungan df
n = n_train
df = tf_train.astype(bool).sum(axis=0)
idf = np.log(n/df)
transformer.idf_ = idf

weight = transformer.fit_transform(tf)
print('Jumlah dokumen:', weight.shape[0])
print('Jumlah term:', weight.shape[1])

In [0]:
weight_matrix = pd.DataFrame(weight.toarray(), columns=vectorizer.get_feature_names())
weight_matrix

In [0]:
# Pembagian matriks bobot
weight_train = weight_matrix[:n_train]
weight_test = weight_matrix[n_train:]

### Perhitungan Cosine Similarity

In [0]:
# Perhitungan cosine similarity
cosim = cosine_similarity(weight_test, weight_train)
print('Ukuran matriks cosine similarity: ', cosim.shape)

In [0]:
print('Matriks Cosine Similarity:')
cosim_matrix = pd.DataFrame(cosim)
cosim_matrix

### Evaluasi

## Skenario 3 - Dengan Stemming Dengan Stopword

## Skenario 4 - Dengan Stemming Tanpa Stopword